*{
	box-sizing: border-box;

}
h1{
	font-size: 40px;
}
section{
  border: 1px solid black;
  background-color: #36648B;
  position: relative;
  font-family: Helvetica;
  color: white;
  padding-left: 10px;
}
.t1{
	background-color: #FF6347;
	color: black;
	position: relative;
	border: 1px solid black;
	left: 60%;
	width: 40%;
	text-align: center;
	font-size: 20px;
}
.t2{
	background-color: #D02090;
	color: white;
	position: relative;
	border: 1px solid black;
	left: 60%;
	width: 40%;
	text-align: center;
	font-size: 20px;
}
.t3{
	background-color: #2E8B57;
	color: black;
	position: relative;
	border: 1px solid black;
	left: 60%;
	width: 40%;
	text-align: center;
	font-size: 20px;
}
.row{
	width: 100%;
}

@media (min-width: 992px){
	.s1, .s2, .s3{
		margin-right: 10px;
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.d1, .d2, .d3{
		float: left;
		width: 33.33%;
	}
	
}
@media (min-width: 768px) and (max-width: 991px){
	.s1, .s2{
		margin-right: 10px;
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		
	}
	.s3{
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	.d1, .d2{
		float: left;
		width: 50%;
	}
	.d3{
		float: left;
		width: 100%;
	}
	
}

@media (max-width: 767px){
	.s1, .s2, .s3{
		margin-top: 20px;
		margin-left: 30px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.d1, .d2, .d3{
		float: left;
		width: 100%;
	}

	
}
